a {
  text-decoration: none;
  color: #000;
}

.App-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.App-main-content {
  display: flex;

  flex: 1;
  flex-direction: column;
}